/* FOOTER STYLING */
footer {
  height: 7%;
  text-align: center;
  font-size: 1.2rem;
  color: gray;
  padding-bottom: 1.8rem;
}

footer > a {
  text-decoration: none;
}

footer > a:hover {
  color: #da3743;
}
