/* TODO Add site wide styles */

body {
  background-color: #f1f2f4;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 75px;
  font-family: Arial, Helvetica, sans-serif;
  /* background-color: #f1f2f4; */
  background-color: #fff;
}

a {
  text-decoration: none;
}

.red-btn a {
  color: #fff;
}

.red-btn {
  background-color: #da3743;
  border: #da3743 solid 1px;
  border-radius: 3px;
  color: #fff;
}

main {
  height: auto;
}

footer {
  background-color: #333;
  /* bottom: 0; */
  margin-top: auto;
  padding-top: 30px;
  height: 2.5rem;
  text-align: center;
  font-size: 16px;
  color: #acacac;
  /* margin-top: 400px; */
}

footer > a {
  color: #acacac;
}

footer > a {
  text-decoration: none;
}

footer > a:hover {
  color: #da3743;
}
