/* TODO Add site wide styles */

body {
  background-color: #f1f2f4;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 75px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* font-family: Arial, Helvetica, sans-serif; */
  /* background-color: #f1f2f4; */
  background-color: #fff;
}

main {
  height: auto;
  padding-bottom: 50px;
}

footer {
  background-color: #2d333f;
  /* bottom: 0; */
  margin-top: auto;
  padding-top: 30px;
  height: fit-content;
  text-align: center;
  font-size: 16px;
  font-family: "Times New Roman", Times, serif;
  color: #d8d9db;
  padding: 30px 200px;

  /* margin-top: 400px; */
}

footer img {
  height: 25px;
}

footer p {
  margin: 0;
  font-size: 12px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* font-style: oblique; */
}

footer a {
  color: #d8d9db;
  transition: all 0.2s;
}

footer a:hover {
  color: #da3743;
  transition: all 0.2s;
}

.footer-links {
  border-bottom: #acacac solid 1px;
  padding-bottom: 20px;
}

.footer-imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
  /* width: 100px; */
}

button,
a {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.red-btn a {
  color: #fff;
}

.red-btn,
form > button {
  background-color: #ce7b81;
  border: #ce7b81 solid 1px;
  border-radius: 3px;
  color: #fff;
  padding: 5px 7px;
  transition: all 0.2s;
}

.red-font-btn {
  background-color: #fff;
  border: #fff solid 1px;
  border-radius: 3px;
  color: #da3743;
  font-weight: bolder;
  transition: all 0.2s;
}

.red-btn:hover {
  background-color: #da3743;
  border: #da3743 solid 1px;
  transition: all 0.2s;
}

.red-font-btn:hover {
  color: #8a020b;
  transition: all 0.2s;
}

/* page not found */
.panda {
  padding: 5px 200px;
  margin-bottom: -55px;
}

.panda img {
  /* height: 400px; */
  width: 100%;
  object-fit: contain;
}

/* errors  */
.errors {
  /* list-style-type: none; */
  font-size: 12px;
  color: #da3743;
}
